.circle-with-text {
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/img/circle2.png);
  width: 90px;
  height: 90px;
  border-radius: 100%;
  text-align: center;
  font-size: 25px;
  display: flex;
}
ion-content{
  background-color: #fff !important;
}
ion-toolbar {
  --background: url(../../assets/img/toolbar.png) 0 0/100% 100% no-repeat !important;
  background-color: #fff;
}

