<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-icon name="menu"(click)="openMenu()"></ion-icon>
      <ion-title>History</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row size="12">
      <ion-col size="12" >
        <ion-item>
          <ion-button style=" margin: auto; align-self: center;" color="tertiary">Guest</ion-button>
          <ion-button style=" margin: auto; align-self: center;">Host</ion-button>

        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
