<ion-header  no-border no-shadow>
  <ion-toolbar class="bg-transparent">
    <ion-title class="title">History</ion-title>
    <ion-icon class="icontoolbar" slot="start" name="menu" (click)="openMenu()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <ion-item *ngFor="let Q of guestQ">
        {{Q[3] + 1}}. {{Q[5]}}<br/>
        {{Q[1]}} - {{Q[2].toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true })}}<br/>
        {{Q[4]}}<br/>
        (GUEST)
    </ion-item>

    <ion-item *ngFor="let Q of hostQ">
        {{Q[4] + 1}}. {{Q[0]}} - {{Q[1]}} <br />
        {{Q[2]}} - {{Q[3]}}
        (HOST)
    </ion-item>
  <ion-grid>
    <ion-list class="bg-transparent">
        <ion-row>
            <ion-button style=" margin: auto; align-self: center;">Guest</ion-button>
            <ion-button style=" margin: auto; align-self: center;">Host</ion-button>
        </ion-row>
    </ion-list>
  </ion-grid>
</ion-content>
