ion-content{
  --background: url(../../assets/img/contentWhite.png) 0 0/100% 100% no-repeat !important;
  background-color: #fff;
}
ion-toolbar {
  --background: url(../../assets/img/toolbar.png) 0 0/100% 100% no-repeat !important;
  background-color: #fff;
}
.icontoolbar{
  color: #0d0d0d;
  margin-left: 20px;
  font-size: x-large
}

ion-content {
  --background: url(../../assets/img/contentWhite.png) 0 0/100% 100% no-repeat !important;
  background-color: #fff;
}

ion-segment-button{
  --background-checked: #FFBFA8;
  --background-hover-opacity: 0;
  --color: black;
  --color-checked: black;
}

