<ion-content padding>
  <ion-grid>
    <br><br>
    <ion-row padding>
      <img src="assets/img/item.svg" Style="margin: auto" alt=""><br>
    </ion-row>
    <br>
  </ion-grid>
  <form [formGroup]="loginForm">
    <ion-grid>
      <br><br><br><br><br><br><br><br><br><br>
        <ion-list class="bg-transparent">
          <!--Form Email -->
          <ion-item color="none" lines="none">
            <ion-label Style="color: #000000" position="floating">Email</ion-label>
            <ion-input Style="color: #000000" type="email" formControlName="email" placeholder="your@email.com"></ion-input>
          </ion-item><br>
          <!--Form Password-->
          <ion-item color="none" lines="none">
            <ion-label Style="color: #000000" position="floating">Password</ion-label>
            <ion-input Style="color: #000000" type="password" formControlName="password" placeholder="password"></ion-input>
          </ion-item>
          <ion-row class="ion-justify-content-end">
            <label><a [routerLink]="['/forgot-password']" style="color: #e04055; font-size: 13px; margin-right: 20px">Forgot Password?</a></label>
          </ion-row><br>
          <ion-row class="ion-justify-content-center">
            <ion-button (click)="SignIn()" [disabled]="loginForm.invalid" color="danger">Login</ion-button>
          </ion-row>
        </ion-list>
      </ion-grid>
  </form>
  <ion-row >
    <label Style="color: #000000; margin: auto"> Don't have an account?  <a [routerLink]="['/register']" style="color: #e04055">Register Now</a>
    </label>
  </ion-row>
</ion-content>
