.bg-transparent {
  background-color: transparent;
}

ion-menu {
  --ion-background-color: #FFBFA9;
  --ion-text-color: black;

  ion-toolbar {
    --background: #FB607F;
  }

.logout {
    --background: #FB607F;
  }
}
