<ion-header  no-border no-shadow>
  <ion-toolbar class="bg-transparent">
    <ion-title class="title">About App</ion-title>
    <ion-icon class="menu" slot="start" name="menu" (click)="openMenu()"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-list class="bg-transparent">
      <br>
<!--  Application name-->
      <ion-label class="textAboutApp">Application Name : </ion-label>
      <ion-label class="textAboutAppAnswer">Antri</ion-label>
      <br><br>
<!--  Application version-->
      <ion-label class="textAboutApp">Application Version : </ion-label>
      <ion-label class="textAboutAppAnswer">1.1.1.1</ion-label>
      <br><br>
<!--  Purpose-->
      <ion-label class="textAboutApp">Purpose : </ion-label>
      <ion-label class="textAboutAppAnswer">Queue Online</ion-label>
      <br><br>
<!--  Developer-->
      <ion-label class="textAboutApp">Developer : </ion-label>
      <ion-label class="textAboutAppAnswer">- Aaron Effendi<br></ion-label><br>
      <ion-label class="textAboutAppAnswer">- Albert Wijaya<br></ion-label> <br>
      <ion-label class="textAboutAppAnswer">- Devira Paramitha Kurniawan<br></ion-label> <br>
      <ion-label class="textAboutAppAnswer">- Gregorius Hendry<br></ion-label> <br>
      <ion-label class="textAboutAppAnswer">- Steven Wijaya<br></ion-label>
      <br>
    </ion-list>
  </ion-grid>
</ion-content>
