<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-icon name="menu" (click)="openMenu()"> </ion-icon>
      <ion-title>About App </ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row size="12">
      <ion-col>
        <ion-item>
          <ion-col >
            <br>
<!--            Application name-->
            <ion-row>
              <ion-label style="margin-left: 20px; display: block;align-self: center; text-justify: auto">Application Name : </ion-label>
              <ion-label style="margin-left: 20px; display: block;align-self: center; text-align-last: auto" color="medium">Antri</ion-label>
            </ion-row>
            <br>
<!--            Application version-->
            <ion-row>
              <ion-label style="margin-left: 20px; display: block;align-self: center; text-justify: auto">Application Version : </ion-label>
              <ion-label style="margin-left: 20px; display: block;align-self: center; text-align-last: auto" color="medium">1.1.1.1</ion-label>
            </ion-row>
            <br>

<!--            Purpose-->
            <ion-row>
              <ion-label style="margin-left: 20px; display: block;align-self: center; text-justify: auto">Purpose : </ion-label>
              <ion-label style="margin-left: 20px; display: block;align-self: center; text-align-last: auto" color="medium">Queue Online</ion-label>
            </ion-row>
            <br>
<!--            Developer-->
            <ion-row>
              <ion-label style="margin-left: 20px; display: block;align-self: center; text-justify: auto">Developer : </ion-label>
              <ion-label style="text-align-last: auto" color="medium">- Aaron Effendi<br></ion-label>
            </ion-row>
            <ion-label style="margin-left: 20px; display: block;align-self: center; text-justify: auto" color="medium">- Albert Wijaya<br></ion-label>
            <ion-label style="margin-left: 20px; display: block;align-self: center; text-justify: auto" color="medium">- Devira Paramitha Kurniawan<br></ion-label>
            <ion-label style="margin-left: 20px; display: block;align-self: center; text-justify: auto" color="medium">- Gregorius Hendry<br></ion-label>
            <ion-label style="margin-left: 20px; display: block;align-self: center; text-justify: auto" color="medium">- Steven Wijaya<br></ion-label>
            <br>
          </ion-col>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
