<ion-header>
  <ion-toolbar>
    <ion-title>forgot-password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="forgotPasswordForm">
    <ion-list>

      <!--Form Email -->
      <ion-item>
        <ion-label>Email </ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

    </ion-list>
    <ion-button (click)="sendResetPassword()" [disabled]="forgotPasswordForm.invalid">Send Reset Password</ion-button>
  </form>
</ion-content>
