ion-content{
  --background: url(../../assets/img/Register.png) 0 0/100% 100% no-repeat !important;
  background-color: #fff;
}
ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
}
.labelFP{
  color: #000000;
  margin: auto;
  font-size: 30px
}
.formcolor{
  color: #000000;
}
.toolbarColor{
  color: #0d0d0d;
}
