<ion-header  no-border no-shadow>
  <ion-toolbar class="bg-transparent">
    <ion-title style="color: #0d0d0d">Forgot Password</ion-title>
    <ion-back-button style="color: #0d0d0d" slot="start" defaultHref="/login"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <form [formGroup]="forgotPasswordForm">
    <ion-list class="bg-transparent">
      <!--Form Email -->
      <br><br><br><br><br><br><br><br><br><br><br><br>
      <ion-row class="ion-justify-content-center">
        <ion-item color="none">
          <ion-label  Style="color: #000000; margin: auto; font-size: 30px" position="floating">Email</ion-label>
          <ion-input  Style="color: #000000" type="email" formControlName="email" placeholder="your@email.com"></ion-input>
        </ion-item>
      </ion-row>
    </ion-list>
  </form>
  <ion-row class="ion-justify-content-center">
    <ion-button (click)="sendResetPassword()" [disabled]="forgotPasswordForm.invalid" color="danger">Send Reset Password</ion-button>
  </ion-row>
</ion-content>
