<ion-header  no-border no-shadow>
  <ion-toolbar class="bg-transparent">
    <ion-title style="color: #0d0d0d" class="ion-text-center" >Hi! {{guest_name}}</ion-title>
    <ion-icon  class="menu" slot="start" name="menu" (click)="openMenu()"></ion-icon>
    <ion-icon  class="iconHome" slot="end" name="scan-outline" routerLink="/qr-scanner"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let Q of myQ">
    now queuing = {{Q[2]}} <br />
    queue number = {{Q[0]}} <br />
    host name = {{Q[3]}} <br/>

    <ion-button (click)="deleteQ(Q[1], Q[0])">X</ion-button>
  </ion-item>
  <ion-grid>
    <ion-list class="bg-transparent">
      <ion-row>
        <ion-col size="12" size-sm="8" offset-sm="2">
          <ion-card style="border-radius:25px;background-color: #ff5b71">
            <ion-card-header style="padding-bottom: 6px">
              <ion-item color="transparant" lines="none">
                <ion-card-subtitle style="color: #ffffff">Number Queue</ion-card-subtitle>
                <ion-icon slot="end" name="close"></ion-icon>
              </ion-item>
              <ion-row>
                <ion-col size="4">
                  <div class="circle-with-text">1</div>
                </ion-col>
                <ion-col size="8" style="padding-top:20px;color: #ffffff">
                  <ion-label>Now queuing: 3</ion-label>
                  <h6 style="margin-top:10px">Ayam Goreng H.J Adi</h6>
                </ion-col>
              </ion-row>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-sm="8" offset-sm="2">
          <ion-card style="border-radius:25px;background-color: #ffffff">
            <ion-card-header style="padding-bottom: 6px">
              <ion-item color="transparant" lines="none">
                <ion-card-subtitle style="color: #0d0d0d">Number Queue</ion-card-subtitle>
                <ion-icon slot="end" name="close" style="color: #0d0d0d"></ion-icon>
              </ion-item>
              <ion-row>
                <ion-col size="4">
                  <div class="circle-with-text">4</div>
                </ion-col>
                <ion-col size="8" style="padding-top:20px;color: #0d0d0d">
                  <ion-label>Now queuing: 5</ion-label>
                  <h6 style="margin-top:10px">Bengkel Adi</h6>
                </ion-col>
              </ion-row>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-list>
  </ion-grid>
</ion-content>
