<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-icon name="menu" (click)="openMenu()"></ion-icon>
      <ion-title class="ion-text-center">Hi! (username)</ion-title>
      <ion-icon slot="end" name="scan-outline"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-card style="border-radius:25px;background-color: #ff5b71">
          <ion-card-header style="padding-bottom: 6px">
            <ion-item color="transparant" lines="none">
              <ion-card-subtitle style="color: #ffffff">Number Queue</ion-card-subtitle>
              <ion-icon slot="end" name="close"></ion-icon>
            </ion-item>
            <ion-row>
              <ion-col size="4">
                <div class="circle-with-text">1</div>
              </ion-col>
              <ion-col size="8" style="padding-top:20px;color: #ffffff">
                <ion-label>Now queuing: 3</ion-label>
                <h6 style="margin-top:10px">Ayam Goreng H.J Adi</h6>
              </ion-col>
            </ion-row>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-card style="border-radius:25px;">
          <ion-card-header style="padding-bottom: 6px">
            <ion-item color="transparant" lines="none">
              <ion-card-subtitle style="color: #0d0d0d">Number Queue</ion-card-subtitle>
              <ion-icon slot="end" name="close"></ion-icon>
            </ion-item>
            <ion-row>
              <ion-col size="4">
                <div class="circle-with-text">1</div>
              </ion-col>
              <ion-col size="8" style="padding-top:20px;color: #0d0d0d">
                <ion-label>Now queuing: 3</ion-label>
                <h6 style="margin-top:10px">Ayam Goreng H.J Adi</h6>
              </ion-col>
            </ion-row>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
