<ion-header  no-border no-shadow>
  <ion-toolbar class="bg-transparent">
    <ion-title style="color: #0d0d0d" class="ion-text-center" >Hi! {{guestName}}</ion-title>
    <ion-icon  class="menu" slot="start" name="menu" (click)="openMenu()"></ion-icon>
    <ion-icon  class="iconHome" slot="end" name="scan-outline" routerLink="/qr-scanner"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="myQ.length>0">
    <ion-list class="bg-transparent" *ngFor="let Q of myQ">
      <ion-row *ngIf="Q[4] % 2 == 1">
        <ion-col size="12" size-sm="8" offset-sm="2">
          <ion-card style="border-radius:25px;background-color: #ff5b71">
            <ion-card-header style="padding-bottom: 6px">
              <ion-item color="transparant" lines="none">
                <ion-card-subtitle style="color: #ffffff">Number Queue</ion-card-subtitle>
                <ion-icon slot="end" name="close" (click)="presentDeleteAlert(Q[1], Q[0])"></ion-icon>
              </ion-item>
              <ion-row>
                <ion-col size="5" style="padding-left:20px">
                  <div class="circle-with-text">{{Q[0]}}</div>
                </ion-col>
                <ion-col size="7" style="padding-top:20px;color: #ffffff">
                  <ion-label>Now queuing: {{Q[2]}}</ion-label>
                  <h6 style="margin-top:10px">{{Q[5]}}</h6>
                </ion-col>
              </ion-row>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="Q[4] % 2 == 0">
        <ion-col size="12" size-sm="8" offset-sm="2">
          <ion-card style="border-radius:25px;background-color: #ffffff">
            <ion-card-header style="padding-bottom: 6px">
              <ion-item color="transparant" lines="none">
                <ion-card-subtitle style="color: #0d0d0d">Number Queue</ion-card-subtitle>
                <ion-icon slot="end" name="close" style="color: #0d0d0d" (click)="presentDeleteAlert(Q[1], Q[0])"></ion-icon>
              </ion-item>
              <ion-row>
                <ion-col size="5" style="padding-left:20px">
                  <div class="circle-with-text">{{Q[0]}}</div>
                </ion-col>
                <ion-col size="7" style="padding-top:20px;color: #0d0d0d">
                  <ion-label>Now queuing: {{Q[2]}}</ion-label>
                  <h6 style="margin-top:10px">{{Q[5]}}</h6>
                </ion-col>
              </ion-row>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-list>
  </ion-grid>
  <div *ngIf="myQ.length==0" text-center class="ion-padding-top">
    <ion-img width="150" height="150" src="assets/img/noAntriGuest.png"></ion-img>
    <h3 style="text-align: center; padding-top: 10px"><b>There is no Queue!</b></h3>
  </div>
</ion-content>
