<ion-content fullscreen="true" padding>
  <br><br><br>
  <ion-row>
    <label class="labelRegister">Register</label>
  </ion-row>
  <br><br><br><br>
  <form [formGroup]="registerForm">
    <ion-grid>
      <ion-list class="bg-transparent">
        <br>
        <!--Form Username-->
        <ion-item color="none" lines="none">
          <ion-label class="labelForm" position="floating">Username</ion-label>
          <ion-input class="labelForm" type="text" formControlName="name" placeholder="username"></ion-input>
        </ion-item><br>

        <!--Form Email -->
        <ion-item color="none" lines="none">
          <ion-label class="labelForm" position="floating">Email </ion-label>
          <ion-input class="labelForm" type="email" formControlName="email" placeholder="your@email.com"></ion-input>
        </ion-item><br>

        <!--Form Password-->
        <ion-item color="none" lines="none">
          <ion-label class="labelForm" position="floating" >Password</ion-label>
          <ion-input class="labelForm" type="password" formControlName="password" placeholder="password must be at least 8 characters"></ion-input>
        </ion-item><br>

        <!--Form Confirm Password-->
        <ion-item color="none" lines="none">
          <ion-label class="labelForm" position="floating">Re-Password</ion-label>
          <ion-input class="labelForm" type="password" formControlName="confirmPassword" placeholder="re-password must be the same as 'password'"></ion-input>
        </ion-item><br><br>
        <ion-row class="ion-justify-content-center">
          <ion-button (click)="check()" color="danger" >Register</ion-button>
        </ion-row>
        <ion-item color="none" lines="none">
          <label Style="color: #000000; margin: auto"> Have an account?  <a [routerLink]="['/login']" style="color: #e04055">Click here</a></label>
        </ion-item><br><br>
      </ion-list>
    </ion-grid>
  </form>

</ion-content>
