<ion-header  no-border no-shadow>
  <ion-toolbar class="bg-transparent">
      <ion-back-button style="color: #0d0d0d" slot="start" defaultHref="/login"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" padding>
  <br><br>
  <ion-row >
    <label Style="color: #000000; margin: auto; font-weight:bold; font-size:xx-large">Register</label>
  </ion-row>
  <br><br><br><br><br>
  <form [formGroup]="registerForm">
    <ion-grid>
      <ion-list class="bg-transparent">
        <!--Form Username-->
        <ion-item color="none" lines="none">
          <ion-label Style="color: #000000" position="floating">Username</ion-label>
          <ion-input Style="color: #000000" type="text" formControlName="name"></ion-input>
        </ion-item><br>

        <!--Form Email -->
        <ion-item color="none" lines="none">
          <ion-label Style="color: #000000" position="floating">Email </ion-label>
          <ion-input Style="color: #000000" type="email" formControlName="email" placeholder="your@email.com"></ion-input>
        </ion-item><br>

        <!--Form Password-->
        <ion-item color="none" lines="none">
          <ion-label Style="color: #000000" position="floating" >Password</ion-label>
          <ion-input Style="color: #000000" type="password" formControlName="password" placeholder="password must be at least 8 characters"></ion-input>
        </ion-item><br>

        <!--Form Confirm Password-->
        <ion-item color="none" lines="none">
          <ion-label Style="color: #000000" position="floating">Re-Password</ion-label>
          <ion-input Style="color: #000000" type="password" formControlName="confirmPassword" placeholder="re-password must be the same as 'password'"></ion-input>
        </ion-item><br><br>
        <ion-row class="ion-justify-content-center">
          <ion-button (click)="checkMatchingPassword()" [disabled]="registerForm.invalid" color="danger" >Register</ion-button>
        </ion-row>
      </ion-list>
    </ion-grid>
  </form>

</ion-content>
